<?xml version="1.0" encoding="UTF-8"?>
<!--
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\vx.x\Config 
-->
<configuration>

    <system.web>
    </system.web>  
      
    <system.webServer>
     
<!-- Exercise 1 - Step 1 Basic Application Initialization Functionality-->
<!--
     <applicationInitialization remapManagedRequestsTo="Startup.htm" skipManagedModules="true" >
        <add initializationPage="/" />
     </applicationInitialization>
-->

       <rewrite>  
            <rules>


<!-- Exercise 2 - Step 2 Mapping Requests to the Home Page-->
<!--
		<rule name="Home Page-Expanded" stopProcessing="true">
                    <match url="default.aspx" />
                    <conditions>
                        <add input="{APP_WARMING_UP}" pattern="1" />
                    </conditions>	
                    <action type="Rewrite" url="Startup.htm" />
                </rule>


		<rule name="Home Page-Short" stopProcessing="true">
                    <match url="^$" />
                    <conditions>
                        <add input="{APP_WARMING_UP}" pattern="1" />
                    </conditions>
                    <action type="Rewrite" url="Startup.htm" />
                </rule>
-->

<!-- Exercise 3 - Step 1 Complex Splash Page Rules -->
<!--
                <rule name="Image Handler Remapping" stopProcessing="true">
                    <match url="ImageHandler.ashx" />
                    <conditions>
                        <add input="{APP_WARMING_UP}" pattern="1" />  
                        <add input="{QUERY_STRING}" pattern="image=([A-Za-z]+)&amp;?" />                      
                    </conditions>
                    <action type="Rewrite" url="Images/{C:1}_static.jpg" appendQueryString="false" />
                </rule>
-->


<!-- Exercise 2 - Step 2 Setting up a Catch-All Rule-->
<!--
		<rule name="All Other Requests">
                    <match url=".*" />
                    <conditions>
                        <add input="{APP_WARMING_UP}" pattern="1" />
                    </conditions>
                    <serverVariables>
                        <set name="SKIP_MANAGED_MODULES" value="0" />
                    </serverVariables>
                    <action type="Rewrite" url="{URL}" />
                </rule>
-->

            </rules>
       </rewrite>
    </system.webServer>
</configuration>
